# Java class files
*.class

# maven
/target/

# Eclipse project files
bin/
.cache
.classpath
.project
.metadata
.settings
.groovy

# Windows files
Thumbs.db

# spring project
.springBeans

# spring boot
build/
.gradle/

# Mac
.DS_Store

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/